@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap');
/* Variables */

:root {
    --dark-grey: #7C7B7B;
    --light-grey: #ABABAB;
    --green: #1a8917;
    --green-30-percent: #CBE1CB;
}

/* Common styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    background-image: url("assets/grey.png");
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: black;
}

.title-link {
    color: white;
}

.about-name-link {
    color: var(--green);
}

/* Header styles */

.header-container {
    background-color: black;
    color: white;
    padding-top: 2em;
    padding-bottom: 1.5em;
}

.blog-title-wrapper {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.blog-title {
    text-align: center;
    display: inline-block;
}

.title-container {
    font-size: 4em;
    font-weight: 500;
}

.author-name {
    color: var(--green);
}

.by-line {
    text-align: right;
    color: var(--dark-grey);
}

/* Nav-Bar */

.nav {
    background-color: black;
    width: 100%;
}

.nav-btn:hover {
    background-color: var(--green);
    color: white;
}

.navigation-bar a {
    color: white;
    display: flex;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.navigation-bar a {
    padding: 0.7em;
}

.sticky {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
}

#nav-toggle-btn {
    display: none;
}

@media screen and (max-width: 600px) {
    .title-container {
        font-size: 3em;
    }
}

@media screen and (max-width: 460px) {
    .header-container {
        text-align: left;
        padding: 1em 0 1em 0;
    }

    .mobile-sticky {
        position: fixed;
        top: 0;
        background-color: black;
        width: 100%;
    }
    
    .blog-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }

    .title-container {
        font-size: 1.5em;
    }

    .by-line {
        font-size: 0.8em;
        text-align: left;
    }

    #nav-toggle-btn {
        display: inline-flex;
        height: 20px;
        width: 20px;
    }

    .navigation-bar {
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 0%;
        position: fixed; 
        z-index: 1; 
        top: 5em;
        right: 0;
        background-color: black; 
        overflow-x: hidden; 
        padding-top: 0; 
        transition: 0.5s;    
    }

    .open {
        width: 40%;
    }
    .navigation-bar a {
        padding: 0.5em;
    }

    .nav-btn:hover {
        background-color: black;
        color: white;
        font-weight: bold;
    }
}

/* Post Section */

.post-container {
    width: 90%;
    margin: auto;
    text-align: left;
    margin-top: 1.4em;
    margin-bottom: 2em;
}

.post-heading {
    color: black;
    font-size: 2em;
    font-weight: medium;
}

.special-mentions {
    font-size: 0.6em;
    color: var(--dark-grey);
}

.special-mentions a {
    color: var(--green);
    text-decoration: underline;
}

.post-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 0 0 0;
}

.post-author {
    align-items: center;
}

.post-author-pic {
    vertical-align: center;
}

.post-author-pic img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0.8em 0.5em 0.2em 0.2em;
}

.post-author {
    display: inline-flex;
    color: var(--green);
}

.post-date-time {
    color: var(--light-grey);
    font-size: 0.9em;
}

.share-icons {
    display: flex;
}

.share-icons i {
    font-size: 22px;
    padding: 0 0.4em;
}

.share-link-icon i {
    color: black;
    font-size: 18px;
}

.whatsapp-icon i {
    color: var(--green);

}

.insta-icon i {
    color: purple;

}

.post-image {
    margin: auto;
}

#post-image {
    margin-top: 1em;
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: 50% 50%;
}

@media screen and (max-width: 460px) {
    #post-image {
        max-height: none;
    }    
}

.post-content {
    font-size: 1.1em;
    text-align: justify;
}

.post-content p {
    margin: 1.5em 0;
}

/* Styling of content */

.subheading {
    display: block;
    font-weight: medium;
    font-size: 1.4em;
    padding-bottom: 0.4em;
}

.quote {
    display: block;
    border-left: 5px solid #1a8917;
    width: 95%;
    margin: auto;
    padding: 0.4em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-style: italic;
    font-weight: 300;
    background-color: var(--green-30-percent);
}

.italic-text {
    font-style: italic;
    font-weight: normal;
}

.bold-text {
    font-weight: 700;
}

.new-line {
    display: block;
    margin: 0.5em 0em;
}

@media screen and (min-width: 800px) {
    .post-container {
        width: 75%;
        text-align: justify;
        padding: 0.6em;
        
    }    
}

@media screen and (max-width: 550px) {
    .post-date-time {
        display: block;
    }    
}

/* Subscription Section */

.subscription-wrapper {
    padding: 3em 1em 3em 1em;
    background-image: url("assets/email-pattern.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    margin: auto;
}

.subscribe-heading {
    font-size: 1.5em;
    font-weight: 700;
    margin: auto;
    margin-bottom: 1em;
    width: 60%;
}

.subscription-wrapper input {
    width: 60%;
    height: 40px;
    margin-bottom: 1em;
}

.subscribe-button {
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1.3em;
}

.subscribe-button:hover {
    background-color: white;
    color: black;
}

/* Archive Section */

.archive-wrapper {
    padding: 3em 1em 3em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    margin: auto;
}

.archive-heading {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 1em;
}

.archive-inputs {
    display: flex;
    justify-content: space-around;
}

.month-selector {
    width: 300px;
    height: 3em;
}

.year-selector {
    width: 200px;
    height: 3em;
}

.archive-inputs div {
    padding: 1em;
}

.archive-button {
    width: 200px;
    height: 2em;
    background-color: black;
    color: white;
    font-size: 1.3em;
}

.archive-button:hover {
    color: black;
    background-color: white;
}

@media screen and (max-width: 850px) {
    .archive-inputs {
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }
    .month-selector {
        width: 60%;
        margin: auto;
    }
    .year-selector {
        width: 60%;
        margin: auto;
    }
    .archive-button {
        width: 60%;
    }
}

/* About Section */

.about-wrapper {
    background-color: black;
    color: white;
    text-align: center;
}

.author-heading {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    padding-top: 1.3em;
}

.author-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5em 3.5em 3.5em 3.5em;
}

.column-left {
    flex: 60%;
}

.author-description {
    text-align: left;
    justify-content: center;
    padding-right: 2em;
}

.author-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 30% 0%;
}

@media screen and (max-width: 750px) {
    .author-details {
        display: flex;
        flex-direction: column-reverse;
        padding: 2em;
    }
    .author-description {
        text-align: justify;
        width: 90%;
        margin: auto;
        padding-right: 0;
        padding-top: 1.5em;
        font-size: 0.8em;
    }
    .author-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

/* Contact Section */

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.right-image {
    text-align: right;
}

.left-info {
    background-color: #dee3e1;
    padding-left: 0em;
}

.pen-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.contact-name {
    font-size: 1.5em;
    padding: 1em 1em 0 1em;
}

.contact-icons {
    padding: 1em;
    display: flex;

}

.contact-icons div {
    padding: 0 1em 0 0.5em;
}

.icon {
    height: 30px;
    width: 30px;
}

.contact-email {
    padding: 0 1.5em 1.5em 1.5em;
}


#scroll-btn {
    display: none;
    position: fixed; 
    bottom: 30px; 
    right: 40px;
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: black; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px; 
  }
  
#scroll-btn:hover {
    background-color: var(--light-grey); 
}

.go-to-top-btn {
      height: 20px;
      width: 20px;
      color: black;
}