@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Variables */

:root {
    --dark-grey: #7C7B7B;
    --light-grey: #ABABAB;
    --green: #1a8917;
}

/* Common styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    background-image: url("assets/grey.png");
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: black;
}

.title-link {
    color: white;
}

.about-name-link {
    color: var(--green);
}

/* Header styles */

.header-container {
    background-color: black;
    color: white;
    padding-top: 2em;
    padding-bottom: 1.5em;
}

.blog-title-wrapper {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.blog-title {
    text-align: center;
    display: inline-block;
}

.title-container {
    font-size: 4em;
    font-weight: 500;
}

.author-name {
    color: var(--green);
}

.by-line {
    text-align: right;
    color: var(--dark-grey);
}

/* Nav-Bar */

.nav {
    background-color: black;
    width: 100%;
}

.nav-btn:hover {
    background-color: var(--green);
    color: white;
}

.navigation-bar a {
    color: white;
    display: flex;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.navigation-bar a {
    padding: 0.7em;
}

.sticky {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
}

#nav-toggle-btn {
    display: none;
}

@media screen and (max-width: 600px) {
    .title-container {
        font-size: 3em;
    }
}

@media screen and (max-width: 460px) {
    .header-container {
        text-align: left;
        padding: 1em 0 1em 0;
    }

    .mobile-sticky {
        position: fixed;
        top: 0;
        background-color: black;
        width: 100%;
    }

    .blog-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }

    .title-container {
        font-size: 1.5em;
    }

    .by-line {
        font-size: 0.8em;
        text-align: left;
    }

    #nav-toggle-btn {
        display: inline-flex;
        height: 20px;
        width: 20px;
    }

    .navigation-bar {
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 0%;
        position: fixed; 
        z-index: 1; 
        top: 5em;
        right: 0;
        background-color: black; 
        overflow-x: hidden; 
        padding-top: 0; 
        transition: 0.5s;    
    }

    .open {
        width: 40%;
    }
    .navigation-bar a {
        padding: 0.5em;
    }

    .nav-btn:hover {
        background-color: black;
        color: white;
        font-weight: bold;
    }
}

/* Cards Section */

/* Tags */

.tags {
    color: var(--light-grey);
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    margin: auto;
}

.tags span {
    padding: 0.5em;
}

.tags a {
    color: var(--light-grey);
    font-size: 1em;
    padding: 0.5em;
}

/* Cards */ 

.cards {
    padding-bottom: 2em;
    margin-top: 2em;
}

.cards-go-here {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (max-width: 1200px) {
    .cards-go-here {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 750px) {
    .cards-go-here {
        grid-template-columns: auto;
    }
}

.card-container {
    background-color: white;
    width: 90%;
    margin: auto;
    border-style: solid;
    margin-bottom: 1em;
}

.card-container:hover {
    box-shadow: 4px 3px 6px 1px var(--light-grey);
    cursor: pointer;
}

.image-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.text-container {
    margin: 0.3em;
}

.date-time {
    color: var(--green);
    font-size: 0.8em;
}

.post-title {
    font-size: 1.3em;
}

.summary {
    color: var(--dark-grey);
    font-size: 0.95em;
}

/* Card icons */

.card-icons-container {
    display: flex;
    justify-content: space-between;
    margin: 0.3em;
}

.likes {
    display: flex;
}

.likes .likes-number {
    padding-right: 0.5em;
    font-size: 0.9em;
}

/* Subscription Section */

.subscription-wrapper {
    padding: 3em 1em 3em 1em;
    background-image: url("assets/email-pattern.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    margin: auto;
}

.subscribe-heading {
    font-size: 1.5em;
    font-weight: 700;
    margin: auto;
    margin-bottom: 1em;
    width: 60%;
}

.subscription-wrapper input {
    width: 60%;
    height: 40px;
    margin-bottom: 1em;
}

.subscribe-button {
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1.3em;
}

.subscribe-button:hover {
    background-color: white;
    color: black;
}

/* Archive Section */

.archive-wrapper {
    padding: 3em 1em 3em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    margin: auto;
}

.archive-heading {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 1em;
}

.archive-inputs {
    display: flex;
    justify-content: space-around;
}

.month-selector {
    width: 300px;
    height: 3em;
}

.year-selector {
    width: 200px;
    height: 3em;
}

.archive-inputs div {
    padding: 1em;
}

.archive-button {
    width: 200px;
    height: 2em;
    background-color: black;
    color: white;
    font-size: 1.3em;
}

.archive-button:hover {
    color: black;
    background-color: white;
}

@media screen and (max-width: 850px) {
    .archive-inputs {
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }
    .month-selector {
        width: 60%;
        margin: auto;
    }
    .year-selector {
        width: 60%;
        margin: auto;
    }
    .archive-button {
        width: 60%;
    }
}

/* About Section */

.about-wrapper {
    background-color: black;
    color: white;
    text-align: center;
}

.author-heading {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    padding-top: 1.3em;
}

.author-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5em 3.5em 3.5em 3.5em;
}

.column-left {
    flex: 60%;
}

.author-description {
    text-align: left;
    justify-content: center;
    padding-right: 2em;
}

.author-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media screen and (max-width: 750px) {
    .author-details {
        display: flex;
        flex-direction: column-reverse;
        padding: 2em;
    }
    .author-description {
        text-align: justify;
        width: 90%;
        margin: auto;
        padding-right: 0;
        padding-top: 1.5em;
        font-size: 0.8em;
    }
    .author-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 0% 10%;
    }
}

/* Contact Section */

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.right-image {
    text-align: right;
}

.left-info {
    background-color: #dee3e1;
    padding-left: 0em;
}

.pen-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.contact-name {
    font-size: 1.5em;
    padding: 1em 1em 0 1em;
}

.contact-icons {
    padding: 1em;
    display: flex;

}

.contact-icons div {
    padding: 0 1em 0 0.5em;
}

.icon {
    height: 30px;
    width: 30px;
}

.contact-email {
    padding: 0 1.5em 1.5em 1.5em;
}


#scroll-btn {
    display: none;
    position: fixed; 
    bottom: 30px; 
    right: 40px;
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: black; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10%;
    font-size: 18px; 
  }
  
#scroll-btn:hover {
    background-color: var(--light-grey); 
}

.go-to-top-btn {
      height: 20px;
      width: 20px;
      color: black;
}